<!DOCTYPE html>

<html lang="ar-eg" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DEMO store</title>
     <!-- Google Font: Cairo -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Font Awesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" rel="stylesheet">

     <!-- Bootstrap RTL CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" rel="stylesheet">

    <link href="~/logo-black.png" rel="shortcut icon" type="image/x-icon" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <!-- Include after Select2 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" />

    <link href="~/css/devextreme/bootstrap.css" rel="stylesheet" />

    <link href="~/css/devextreme/dx.material.teal.light.css" rel="stylesheet" />

    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>

    <script src="~/js/devextreme/dx.all.js"></script>

    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>

    @*excel*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.10.1/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.14/jspdf.plugin.autotable.min.js"></script>

    <!-- Custom Styles -->
    <style>
        .dx-rtl .dx-datagrid {
            overflow-x: auto;
        }

        body {
            font-family: 'Cairo', sans-serif;
            background-color: #f4f4f4;
            padding-top: 5rem;
        }

        .btnLogOut {
            border-radius: 20px;
            font-size: 15px;
        }

        .btnm {
            border-radius: 20px;
            font-size: 15px;
        }

        .product-photo {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            cursor: pointer;
        }

        .product-photo img {
           width: 100%;
           height: 100%;
           object-fit: cover;
        }

        .product-photo:hover img {
           transform: scale(1.5);
           transition: transform 0.3s;
        }

        .navbar .dropdown-menu {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .navbar a.navbar-brand {
            font-weight: 600;
            color: #f9f9f9;
        }

        .navbar-nav a.nav-link {
            color: #adb5bd;
        }


        main {
            background-color: #ffffff; 
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        .navbar .dropdown:hover .dropdown-menu {
            display: block;
        }

        .dropdown-menu a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-menu a:hover {
            background-color: #ddd;
        }


        .user-sections {
            display: none;
        }

        .zoomed-logo {
            transform: scale(2);
        }

        .loading-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            z-index: 9999999;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .spinner {
            border: 4px solid rgba(0,0,0,0.1);
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border-left-color: #09f;
            animation: spin 1s infinite linear;
        }

        .page-title {
            text-align: center;
            padding: 20px;
            margin-bottom: 30px;
            border-radius: 8px;
            background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }

        .page-title h1 {
            margin: 0;
            padding: 0;
            color: #FFFFFF;
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            text-shadow: 0 2px 4px rgba(0,0,0,0.2);
        }
    </style>
</head>

<body style="padding-top: 5rem;">

    <div id="loadingIndicator" style="display: none;" class="loading-overlay">
        <div class="loading-indicator">
            <div class="spinner"></div>
            <p id="loadingText">Loading...</p>
        </div>
    </div>

    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-md" dir="rtl">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/logo.png" alt="Logo" height="30" class="d-inline-block align-top zoomed-logo">
                DEMO store
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a href="/Home/Index" class="nav-link active">
                            <i class="fas fa-home"></i> الرئيسية
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-database"></i> البيانات الاساسية
                        </a>
                        <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/Branches/BranchesPage"><i class="fas fa-code-branch"></i> الفروع</a></li>
                            <li><a class="dropdown-item" href="/Customers/CustomersPage"><i class="fas fa-users"></i> العملاء</a></li>
                            <li><a class="dropdown-item" href="/Suppliers/SuppliersPage"><i class="fas fa-truck"></i> الموردين</a></li>
                            <li><a class="dropdown-item" href="/Offer/OffersPage"><i class="fas fa-percent"></i> العروض</a></li>
                            <li><a class="dropdown-item" href="/Colors/ColorsPage"><i class="fas fa-palette"></i> الالوان</a></li>
                            <li><a class="dropdown-item" href="/Sizes/SizesPage"><i class="fas fa-ruler-combined"></i> المقاسات</a></li>
                            <li><a class="dropdown-item" href="/Units/UnitsPage"><i class="fas fas fa-balance-scale"></i> الوحدات</a></li>
                            <li><a class="dropdown-item" href="/Categories/CategoriesPage"><i class="fas fa-tags"></i> التصنيفات</a></li>
                            <li><a class="dropdown-item" href="/ProductTypes/ProductTypesPage"><i class="fas fa-box-open"></i> انواع المنتجات</a></li>
                            <li><a class="dropdown-item" href="/paymentMethods/paymentMethodsPage"><i class="fas fa-credit-card"></i>طرق الدفع</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-database"></i> المخزن
                        </a>
                        <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/Products/WarehousePage"><i class="fas fa-warehouse"></i> المخزن</a></li>
                            <li><a class="dropdown-item" href="/Products/WarehouseMovementsPage"><i class="fas fa-warehouse"></i> تحركات المخزن</a></li>
                            <li><a class="dropdown-item" href="/Products/WarehouseDeficienciesPage"><i class="fas fa-exclamation-circle"></i>نواقص الفروع</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Products/ProductsPage">
                            <i class="fas fa-boxes"></i> المنتجات
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/PurchaseInvoices/PurchasePage">
                            <i class="fas fa-shopping-cart"></i> المشتريات
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Expenses/ExpensesPage">
                            <i class="fas fa-wallet"></i> المصروفات
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/SalesInvoices/SalesPage">
                            <i class="fas fa-money-bill-alt"></i> المبيعات
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/PaymentTransactions/PaymentTransactionsPage">
                            <i class="fas fa-money-check-alt"></i> الخزنة 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Users/UsersPage">
                            <i class="fas fa-user"></i> الحسابات
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link active text-light bg-danger btnLogOut" aria-current="page" href="/Home/LogOut">
                            <i class="fas fa-sign-out-alt"></i> تسجيل الخروج
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="mx-3 mb-3">
        @RenderBody()
    </main>
@*    <div class="footer">
        © 2024 DEMO store. All rights reserved.
    </div>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        var dropdown = document.querySelector('.nav-item.dropdown');
        var dropdownMenu = document.querySelector('.dropdown-menu');

        dropdown.addEventListener('click', function () {
            var isVisible = dropdownMenu.style.display === 'block';
            dropdownMenu.style.display = isVisible ? 'none' : 'block';
        });

        document.addEventListener('click', function (e) {
            if (!dropdown.contains(e.target)) {
                dropdownMenu.style.display = 'none';
            }
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>