
@{
    ViewData["Title"] = "ExpensesPage";
    Layout = "_DevExtremeLayout";
}

<h1>المصروفات</h1>

@(Html.DevExtreme().DataGrid<ExpenseModel>()
    .ID("gridContainer")
    .DataSource(d => d
        .Mvc()
        .Controller("Expenses")
        .LoadAction("LoadExpenses")
        .InsertAction("AddNewExpense")
        .UpdateAction("UpdateExpense")
        .DeleteAction("DeleteExpense")
        .Key("ExpensesId")
    ).Selection(s => s.Mode(SelectionMode.Multiple))
     .Export(e => e.Enabled(true).AllowExportSelectedData(true))
     .OnExporting("exporting")
     .AllowColumnResizing(true)
          .ColumnAutoWidth(true)
    .Editing(e => e
        .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .Popup(p => p
                .Width(700)
                .Height(530))
    )
    .RtlEnabled(true)
    .Paging(p => p.PageSize(10))
    .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 10, 25, 50, 100 })
    )
    .SearchPanel(s => s
        .Visible(true)
        .HighlightCaseSensitive(true)
    )
    .GroupPanel(g => g.Visible(false))
    .RowAlternationEnabled(true)
    .Width("100%")
    .ShowBorders(true)
    .Columns(columns =>
    {
        columns.AddFor(m => m.ExpensesName).Caption("البند");
        columns.AddFor(m => m.ExpensesAmount).Caption("المبلغ");
        columns.AddFor(m => m.Notes).Caption("ملاحظات");
        columns.AddFor(m => m.PaymentMethodId).Caption("طريقة الدفع").Lookup(lookup => lookup
        .DataSource(d => d.Mvc().Controller("PaymentMethods").LoadAction("LoadPaymentMethods"))
        .ValueExpr("PaymentMethodId")
        .DisplayExpr("PaymentMethodName"));;
        columns.AddFor(m => m.BranchId).Caption("اسم الفرع").Lookup(lookup => lookup
       .DataSource(d => d.Mvc().Controller("Branches").LoadAction("LoadBranches"))
       .ValueExpr("BranchId")
       .DisplayExpr("BranchName"));
        columns.AddFor(m => m.PurchaseDate).Caption("تاريخ المعاملة").AllowEditing(false);
          columns.AddFor(m => m.UserId).Caption("مدخل المعاملة").AllowEditing(false).Lookup(lookup => lookup
       .DataSource(d => d.Mvc().Controller("Users").LoadAction("LoadUsers"))
       .ValueExpr("UserId")
       .DisplayExpr("UserName"));
    })
    .ColumnFixing(columnFixing => { columnFixing.Enabled(true); })
    .HeaderFilter(f => f.Visible(true))
    .Summary(summary => summary
        .TotalItems(items =>
        {
            items.Add()
                .Column("المبلغ")
                .SummaryType(SummaryType.Sum)
                .DisplayFormat(" اجمالي المصروف: {0}");

            // Add more summaries as needed
        })
    )
)

<script>
    function exporting(e) {
        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet('Colors');

        DevExpress.excelExporter.exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            autoFilterEnabled: true
        }).then(function () {
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'Colors.xlsx');
            });
        });
    }
</script>
