
@{
    ViewData["Title"] = "PaymentTransactionsPage";
    Layout = "_DevExtremeLayout";
}

<div class="page-title">
    <h1>ادارة الخزنة</h1>
</div>

<div class="container my-4">
    <div class="row align-items-end">
        <!-- Branch Treasury Info -->
        <div class="col-md-3">
            <div class="branch-treasury-info shadow-sm p-3  bg-white rounded d-flex align-items-center">
                <i class="fas fa-university mr-2"></i>
                <span>خزنة الفرع: <strong id="treasuryValue">0</strong></span>
            </div>
        </div>

        <!-- Branch Selection -->
        <div class="col-md-3">
            <div class="form-group">
                <label for="BranchId" class="font-weight-bold">اسم الفرع:</label>
                <select id="BranchId" class="form-control custom-select"></select>
            </div>
        </div>

        <!-- From Date -->
        <div class="col-md-3">
            <div class="form-group">
                <label for="fromDate" class="font-weight-bold">من تاريخ:</label>
                <div id="fromDate" class="custom-date-box"></div>
            </div>
        </div>

        <!-- To Date -->
        <div class="col-md-3">
            <div class="form-group">
                <label for="toDate" class="font-weight-bold">الي تاريخ:</label>
                <div id="toDate" class="custom-date-box"></div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
   <button onclick="movePayment()" class="btn col-md-3 btn-primary btn-block my-1 mx-1">تحويل النقديه</button>
</div>


<div id="movePaymentPopup" style="display:none;">
    <div class="p-4">
        <form id="movePaymentForm">
            <div class="form-group mb-4">
                <label for="FromBranchId">من فرع:</label>
                <select id="fromBranch" class="form-control mt-2"></select>
            </div>
            <div class="form-group mb-4">
                <label for="FromPaymentMethodId">اختر خزنة:</label>
                <select id="fromPaymentMethodId" class="form-control mt-2"></select>
                <div id="availableAmountDisplay" class="text-primary mt-2"></div>
            </div>
            <div class="form-group mb-4">
                <label for="ToBranchId">إلى فرع:</label>
                <select id="toBranch" class="form-control mt-2"></select>
            </div>
            <div class="form-group mb-4">
                <label for="ToPaymentMethodId">اختر الخزنة:</label>
                <select id="toPaymentMethodId" class="form-control mt-2"></select>
            </div>
            <div class="form-group mb-4">
                <label for="Amount">المبلغ المحول:</label>
                <input type="number" id="amount" class="form-control mt-2" min="1" required>
            </div>
            <div class="form-group mb-4">
                <label for="Notes">ملاحظات</label>
                <input type="text" id="notes" class="form-control mt-2" />
            </div>
            <div class="form-group mb-4">
                <button class="btn btn-primary mt-2" id="addTransferItemButton">إضافة</button>
            </div>
            <div>
                <div id="transferGrid" class="mt-3"></div>
            </div>
            <div class="d-flex justify-content-center mt-3 row">
                <button type="button" class="btn btn-success mx-2 col-md-4" onclick="moveInventory()">تأكيد التحويل</button>
                <button type="button" class="btn btn-secondary mx-2 col-md-4" onclick="closePopup()">إغلاق</button>
            </div>
        </form>
    </div>
</div>


@(Html.DevExtreme().DataGrid<TransactionDetailModel>()
    .ID("gridContainer")
    .Selection(s => s.Mode(SelectionMode.Multiple))
     .Export(e => e.Enabled(true).AllowExportSelectedData(true))
     .OnExporting("exporting")
     .AllowColumnResizing(true)
     .ColumnAutoWidth(true)
    .Editing(e => e
        .Mode(GridEditMode.Popup)
       .AllowAdding(true)
       .AllowUpdating(true)
       .AllowDeleting(true)
        .Popup(p => p
                .Title("بيانات المعاملة")
                .ShowTitle(true)
                .Width(700)
                .Height(450))
    )
    .RtlEnabled(true)
    .Paging(p => p.PageSize(10))
    .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 10, 25, 50, 100 })
    )
    .SearchPanel(s => s
        .Visible(true)
        .HighlightCaseSensitive(true)
    )
    .GroupPanel(g => g.Visible(false))
    .Width("100%")
    .ShowBorders(true)
    .Columns(columns =>
    {
        columns.AddFor(m => m.TransactionId).Caption("كود العملية").AllowEditing(false);
        columns.AddFor(m => m.InvoiceType).Caption("اسم العملية");
        columns.AddFor(m => m.InvoiceId).Caption("رقم الفاتورة").AllowEditing(false);
        columns.AddFor(m => m.BranchId).Caption("اسم الفرع").Lookup(lookup => lookup
          .DataSource(d => d.Mvc().Controller("Branches").LoadAction("LoadBranches"))
          .ValueExpr("BranchId")
          .DisplayExpr("BranchName")); ;
        columns.AddFor(m => m.PaymentMethodId).Caption("الخزنة").Lookup(lookup => lookup
        .DataSource(d => d.Mvc().Controller("PaymentMethods").LoadAction("LoadPaymentMethods"))
        .ValueExpr("PaymentMethodId")
        .DisplayExpr("PaymentMethodName"));
        columns.AddFor(m => m.TransactionType).Caption("نوع المعاملة").AllowEditing(false);
        columns.AddFor(m => m.TransactionDate).Caption("تاريخ المعاملة").Format("yyyy-MM-dd H:mm a");
        columns.AddFor(m => m.Amount).Caption("القيمة");
        columns.AddFor(m => m.Details).Caption("ملاحظات");
        columns.AddFor(m => m.EntityName).Caption("خاص ب").AllowEditing(false);
        columns.AddFor(m => m.ModifiedDate).Caption("تاريخ الادخال").AllowEditing(false).Format("yyyy-MM-dd H:mm a");
        columns.AddFor(m => m.ModifiedUser).Caption("مدخل البيانات").AllowEditing(false).Lookup(lookup => lookup
       .DataSource(d => d.Mvc().Controller("Users").LoadAction("LoadUsers"))
       .ValueExpr("UserId")
       .DisplayExpr("UserName"));
    })
    .ColumnFixing(columnFixing =>{columnFixing.Enabled(true);})
    .HeaderFilter(f => f.Visible(true))
    .Summary(summary => summary
        .TotalItems(items =>
        {
            items.Add()
                .Column("القيمة")
                .SummaryType(SummaryType.Sum)
                .DisplayFormat("الاجمالي : {0}");
        })
    ).OnRowPrepared("onRowPrepared")

)

<script>
    function onRowPrepared(e) {
        if (e.rowType === 'data') {
            var amount = e.data.Amount;
            if (amount < 0) {
                e.rowElement.addClass('negative-quantity');
            } else if (amount > 0) {
                e.rowElement.addClass('positive-quantity');
            }
        }
    }

    function movePayment() {
        $("#movePaymentPopup").dxPopup("show");
        populateDropdown('/Branches/LoadBranchesByUser', 'fromBranch', 'BranchId', 'BranchName');
        populateDropdown('/Branches/LoadBranches', 'toBranch', 'BranchId', 'BranchName');
        populateDropdown('/PaymentMethods/LoadPaymentMethods', 'fromPaymentMethodId', 'PaymentMethodId', 'PaymentMethodName');
        populateDropdown('/PaymentMethods/LoadPaymentMethods', 'toPaymentMethodId', 'PaymentMethodId', 'PaymentMethodName');
        initializeItemsGrid();
    }

    async function populateDropdown(url, elementId, valueField, textField, prevSelectedValue) {
        try {
            const response = await fetch(url);
            if (response.ok) {
                const data = await response.json();
                const selectElement = $(`#${elementId}`);
                selectElement.empty();
                data.forEach(item => {
                    const option = new Option(item[textField], item[valueField]);
                    selectElement.append(option);
                });

                if (prevSelectedValue && selectElement.find(`option[value="${prevSelectedValue}"]`).length > 0) {
                    selectElement.val(prevSelectedValue).trigger('change');
                } else {
                    selectElement.val(null).trigger('change'); 
                }

                selectElement.select2({
                    placeholder: "برجاء الاختيار",
                    allowClear: true,
                    width: '100%'
                });
            } else {
                console.error('Failed to load data for:', elementId);
            }
        } catch (error) {
            console.error('Error populating dropdown:', error);
        }
    }

    async function fetchAvailableQuantity(paymentMethodId, branchId, displayElement) {
        try {
            const response = await fetch(`/PaymentTransactions/GetAccountBalanceByPaymentMethodIdAndBranchId?BranchId=${branchId}&PaymentMethodId=${paymentMethodId}`);
            const data = await response.json();
            $(displayElement).text(`المبلغ المتاح: ${data}`);
        } catch (error) {
            $(displayElement).text(`المبلغ المتاح: 0`);
        }
    }

    window.closePopup = function () {
        refreshGridDataBasedOnDateChange();
        $("#movePaymentPopup").dxPopup("hide");
        transferItems = [];
    };

    $(function () {
        var moveInventoryPopup = $("#movePaymentPopup").dxPopup({
            title: "تحويل نقدية",
            visible: false,
            rtlEnabled: true,
            width: calculatePopupWidth(),
            height: calculatePopupHeight(),
            toolbarItems: [{
                widget: 'dxButton',
                toolbar: 'top',
                location: 'after',
                options: {
                    icon: 'close',
                    onClick: function () {
                        refreshGridDataBasedOnDateChange();
                        moveInventoryPopup.hide();
                        $('#availableAmountDisplay').text(`المبلغ المتاح: 0`);
                    }
                }
            }]
        }).dxPopup("instance");

        function calculatePopupWidth() {
            var windowWidth = $(window).width();

            if (windowWidth < 768) {
                return "90%";
            } else {
                return 750;
            }
        }

        function calculatePopupHeight() {
            var windowHeight = $(window).height();
            if (windowHeight < 768) {
                return "90%";
            } else {
                return 750;
            }
        }

        $(window).resize(function () {
            moveInventoryPopup.option({
                width: calculatePopupWidth(),
                height: calculatePopupHeight()
            });
        });
    });

    var transferItems = [];
    
    function initializeItemsGrid() {
        $("#transferGrid").dxDataGrid({
            dataSource: transferItems,
            columns: [
                { dataField: "FromBranchId", caption: "من فرع" ,
                    lookup: { dataSource: { load: function () { return $.ajax({ url: "/Branches/LoadBranches", dataType: "json" }); } }, valueExpr: "BranchId", displayExpr: "BranchName" }
                },
                { dataField: "FromPaymentMethodId", caption: "من خزنة" ,
                    lookup: { dataSource: { load: function () { return $.ajax({ url: "/PaymentMethods/LoadPaymentMethods", dataType: "json" }); } }, valueExpr: "PaymentMethodId", displayExpr: "PaymentMethodName" }
                },
                { dataField: "ToBranchId", caption: "الي فرع",
                  lookup: { dataSource: { load: function () { return $.ajax({ url: "/Branches/LoadBranches", dataType: "json" }); }}, valueExpr: "BranchId", displayExpr: "BranchName" }
                },
                { dataField: "ToPaymentMethodId", caption: "الي خزنة" ,
                    lookup: { dataSource: { load: function () { return $.ajax({ url: "/PaymentMethods/LoadPaymentMethods", dataType: "json" }); } }, valueExpr: "PaymentMethodId", displayExpr: "PaymentMethodName" }
                },
                { dataField: "Amount", caption: "المبلغ المحول" }
            ],
            columnAutoWidth: true,
            width: "100%",
            rtlEnabled: true,
            columnFixing: {
                enabled: true
            },
        });
    }

    document.addEventListener('DOMContentLoaded', async function () {
        $('#toBranch, #toPaymentMethodId').change(function () {
            var toBranchId = $('#toBranch').val();
            var toPaymentMethodId = $('#toPaymentMethodId').val();
            if (toPaymentMethodId && toBranchId) {
                fetchAvailableQuantity(toPaymentMethodId, toBranchId, '#availableAmountDisplay2');
            }
        });
        $('#fromBranch, #fromPaymentMethodId').change(function () {
            var fromBranchId = $('#fromBranch').val();
            var fromPaymentMethodId = $('#fromPaymentMethodId').val();
            if (fromPaymentMethodId && fromBranchId) {
                fetchAvailableQuantity(fromPaymentMethodId, fromBranchId, '#availableAmountDisplay');
            }
        });
    });

    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('addTransferItemButton').addEventListener('click', addItemToTransferList);
    });

    async function addItemToTransferList(event) {
        event.preventDefault();

        var item = {
            FromBranchId: $('#fromBranch').val(),
            FromPaymentMethodId: $('#fromPaymentMethodId').val(),
            ToBranchId: $('#toBranch').val(),
            ToPaymentMethodId: $('#toPaymentMethodId').val(),
            Amount: parseInt($('#amount').val(), 10),
            Notes: $('#notes').val()
        };

        // Check if the destination is the same as the source
        if (item.FromBranchId === item.ToBranchId && item.FromPaymentMethodId === item.ToPaymentMethodId) {
            DevExpress.ui.notify("لا يمكن نقل النقدية لنفس الخزنة...اختر خزنة أخرى", "error", 3000);
            return;
        }

        // Perform validation
        if (!validateTransferItem(item)) {
            DevExpress.ui.notify("برجاء ملاء جميع البيانات وتاكد من المبلغ المرسل اكبر من 0", "error", 3000);
            return;
        }

        // Check if the amount being transferred exceeds the available balance
        try {
            const availableBalanceResponse = await fetch(`/PaymentTransactions/GetAccountBalanceByPaymentMethodIdAndBranchId?BranchId=${item.FromBranchId}&PaymentMethodId=${item.FromPaymentMethodId}`);
            if (!availableBalanceResponse.ok) {
                DevExpress.ui.notify("لا يمكن نقل نقدية اكبر من الرصيد المتاح", "error", 3000);
                return;
            }

            const availableBalance = await availableBalanceResponse.json();
            if (item.Amount > availableBalance) {
                DevExpress.ui.notify("المبلغ الذي تريد نقله اكبر من رصيد الخزنة", "error", 3000);
                return;
            }

        } catch (error) {
            DevExpress.ui.notify(error, "error", 3000);
            return;
        }

        transferItems.push(item);
        displayTransferItems();
        clearTransferForm();
    };

    function validateTransferItem(item) {
        return item.FromBranchId && item.ToBranchId && item.FromPaymentMethodId && item.ToPaymentMethodId && item.Amount && !isNaN(item.Amount) && item.Amount > 0;
    }

    function displayTransferItems() {
        $("#transferGrid").dxDataGrid("instance").option('dataSource', transferItems);
    }

    function clearTransferForm() {
        $('#fromBranch').val('').trigger('change');
        $('#fromPaymentMethodId').val('').trigger('change');
        $('#toBranch').val('').trigger('change');
        $('#toPaymentMethodId').val('').trigger('change');
        $('#amount').val('');
        $('#notes').val('');
        $('#availableAmountDisplay').text(`المبلغ المتاح: 0`);
    }

    async function moveInventory() {
        $('#loadingIndicator').show();
        if (transferItems.length === 0) {
            DevExpress.ui.notify("برجاء اضافة عمليه واحده علي الاقل","error", 3000);
            $('#loadingIndicator').hide();
            return;
        }

        const payload = {
            Items: transferItems.map(item => ({
                FromBranchId: item.FromBranchId,
                FromPaymentMethodId: item.FromPaymentMethodId,
                ToBranchId: item.ToBranchId,
                ToPaymentMethodId: item.ToPaymentMethodId,
                Amount: item.Amount,
                Notes: item.Notes,
            }))
        };

        try {
            const response = await fetch('/PaymentTransactions/MoveBalance', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            });

            const responseData = await response.json();

            if (!responseData.success) {
                DevExpress.ui.notify(responseData.message, "error", 3000);
                $('#loadingIndicator').hide();
                return;
            }

            DevExpress.ui.notify(responseData.message, "success", 3000);
            transferItems = [];
            displayTransferItems();
            $('#loadingIndicator').hide();
        } catch (error) {
            DevExpress.ui.notify(error, "error", 3000);
            $('#loadingIndicator').hide();
        }
    }

    ///////////////////////////////////////////////////
    $(function () {
        initializeDateBoxes();
        loadBranches();
        setupBranchSelectionChangeHandler();
    });

    function initializeDateBoxes() {
        const today = new Date();

        const endOfToday = new Date(today);
        endOfToday.setHours(23, 59, 59, 999);
        const tomorrow = new Date(today);
        tomorrow.setDate(tomorrow.getDate() + 1);

        $("#fromDate").dxDateBox({
            type: "date",
            value: today,
            displayFormat: "yyyy-MM-dd",
            onValueChanged: function () {
                refreshGridDataBasedOnDateChange();
            }
        });

        $("#toDate").dxDateBox({
            type: "date",
            value: tomorrow,
            displayFormat: "yyyy-MM-dd",
            onValueChanged: function () {
                refreshGridDataBasedOnDateChange();
            }
        });
    }

    function loadBranches() {
        fetch('/Branches/LoadBranchesByUser')
            .then(response => response.json())
            .then(data => {
                populateDropdownData(data);
                if (data.length > 0) {
                    fetchBranchAccountBalance(data[0]['BranchId']);
                    refreshGridDataBasedOnDateChange();
                }
            })
            .catch(error => console.error('Unable to load branches.', error));
    }

    function setupBranchSelectionChangeHandler() {
        $('#BranchId').change(refreshGridDataBasedOnDateChange);
    }

    function refreshGridDataBasedOnDateChange() {
        const branchId = $('#BranchId').val();
        const fromDate = $("#fromDate").dxDateBox("instance").option("value").toISOString().split('T')[0];
        const toDate = $("#toDate").dxDateBox("instance").option("value").toISOString().split('T')[0];
        if (branchId) {
            const loadUrl = `/PaymentTransactions/LoadDetailsPaymentTransactionsByBranch?branchId=${branchId}&fromdate=${fromDate}&todate=${toDate}`;
            loadSalesInvoices(loadUrl);
            fetchBranchAccountBalance(branchId);
        }
    }

    function populateDropdownData(data) {
        const selectElement = document.getElementById('BranchId');
        selectElement.innerHTML = '';
        data.forEach(item => {
            const option = new Option(item['BranchName'], item['BranchId']);
            selectElement.add(option);
        });
    }

    async function fetchBranchAccountBalance(branchId) {
        try {
            const response = await fetch(`/PaymentTransactions/GetBranchAccountBalance?BranchId=${branchId}`);
            if (!response.ok) {
                console.error('Failed to load payment transactions data');
                return;
            }
            const accountBalance = await response.json();
            const treasuryElement = document.getElementById('treasuryValue');

            if (treasuryElement) {
                treasuryElement.innerText = `${accountBalance} ج.م`;
            } else {
                console.error('Branch treasury element not found!');
            }
        } catch (error) {
            console.error('Error fetching branch account balance:', error);
        }
    }

    function loadSalesInvoices(url) {
        const gridInstance = $("#gridContainer").dxDataGrid("instance");
        gridInstance.option("dataSource", new DevExpress.data.CustomStore({
            key: "TransactionId",
            load: () => fetch(url).then(response => response.json()),
            insert: values => insertPaymentTransaction(values),
            update: (key, values) => updatePaymentTransaction(key, values),
            remove: key => deletePaymentTransaction(key)
        }));
    }

    function insertPaymentTransaction(values) {
        return $.ajax({
            url: '/PaymentTransactions/AddNewPaymentTransaction',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(values)
        });
    }

    function updatePaymentTransaction(key, values) {
        return $.ajax({
            url: `/PaymentTransactions/UpdatePaymentTransaction?id=${key}`,
            method: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(values)
        });
    }

    function deletePaymentTransaction(key) {
        return $.ajax({
            url: `/PaymentTransactions/DeletePaymentTransaction?transactionId=${key}`,
            method: 'DELETE'
        });
    }

    function exporting(e) {
        const workbook = new ExcelJS.Workbook();
        const worksheet = workbook.addWorksheet('Transactions');

        DevExpress.excelExporter.exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            autoFilterEnabled: true
        }).then(() => {
            workbook.xlsx.writeBuffer().then(buffer => {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'Transactions.xlsx');
            });
        });
    }
</script>

<style>
    #movePaymentPopup .form-group label {
        font-weight: bold; /* Makes labels bold */
    }

    #movePaymentPopup .form-control {
        border-radius: 0.25rem; /* Rounded corners for form inputs */
    }

    #movePaymentPopup .btn {
        border-radius: 0.25rem; /* Consistent rounded corners for buttons */
    }

    .branch-treasury-info {
        background-color: #ffffff;
        border-left: 5px solid #4CAF50;
        color: #495057;
    }

    .branch-treasury-info strong {
        color: #4CAF50;
    }

    .select2-container--open {
        z-index: 9999999 !important;
    }

    .negative-quantity {
        background-color: #FFCCCC;
    }

    .positive-quantity {
        background-color: #CCFFCC;
    }
</style>
