
@{
    ViewData["Title"] = "PurchaseInvoicesPage";
    Layout = "_DevExtremeLayout";
}

<h1>فواتير المشتريات</h1>

@(Html.DevExtreme().DataGrid<PurchaseInvoicesModel>()
    .ID("gridContainer")
    .DataSource(d => d
        .Mvc()
        .Controller("PurchaseInvoices")
        .LoadAction("LoadPurchaseInvoices")
        .UpdateAction("UpdatePurchaseInvoice")
        .DeleteAction("DeletePurchaseInvoice")
        .Key("PurchaseInvoiceId")
    ).OnToolbarPreparing("onToolbarPreparing")
    .Selection(s => s.Mode(SelectionMode.Multiple))
     .Export(e => e.Enabled(true).AllowExportSelectedData(true))
     .OnExporting("exporting")
     .AllowColumnResizing(true)
     .Editing(e => e
        .Mode(GridEditMode.Popup)
        .AllowDeleting(true)
        .AllowUpdating(true)
        .Popup(p => p
                .Title("فاتورة مشتريات")
                .ShowTitle(true)
                .Width(800)
                .Height(400))
    )
    .RtlEnabled(true)
    .Paging(p => p.PageSize(10))
    .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 10, 25, 50, 100 })
    )
    .SearchPanel(s => s
        .Visible(true)
        .HighlightCaseSensitive(true)
    )
    .GroupPanel(g => g.Visible(false))
    .RowAlternationEnabled(true)
    .Width("100%")
    .ShowBorders(true)
    .Columns(columns =>
    {
        columns.AddFor(m => m.PurchaseInvoiceId).Caption("رقم الفاتورة").AllowEditing(false);
        columns.AddFor(m => m.TotalAmount).Caption("اجمالي مبلغ الفاتورة");
        columns.AddFor(m => m.PaidUp).Caption("اجمالي المدفوع من الفاتورة");
        columns.AddFor(m => m.Remainder).Caption("الباقي من مبلغ الفاتورة");
        columns.AddFor(m => m.SupplierId).Caption("اسم المورد").Lookup(lookup => lookup
          .DataSource(d => d.Mvc().Controller("Suppliers").LoadAction("LoadSuppliers"))
          .ValueExpr("SupplierId")
          .DisplayExpr("SupplierName"));
        columns.AddFor(m => m.BranchId).Caption("اسم الفرع").Lookup(lookup => lookup
       .DataSource(d => d.Mvc().Controller("Branches").LoadAction("LoadBranches"))
       .ValueExpr("BranchId")
       .DisplayExpr("BranchName"));
       columns.AddFor(m => m.PaymentMethodId).Caption("طريقة الدفع").Lookup(lookup => lookup
        .DataSource(d => d.Mvc().Controller("PaymentMethods").LoadAction("LoadPaymentMethods"))
        .ValueExpr("PaymentMethodId")
        .DisplayExpr("PaymentMethodName"));
        columns.AddFor(m => m.PurchaseDate).Caption("تاريخ الفاتورة");
        columns.AddFor(m => m.UserId).Caption("مدخل الفاتورة").AllowEditing(false).Lookup(lookup => lookup
       .DataSource(d => d.Mvc().Controller("Users").LoadAction("LoadUsers"))
       .ValueExpr("UserId")
       .DisplayExpr("UserName"));
    }).MasterDetail(md =>
    {
        md.Enabled(true);
        md.Template(@<text>
            @(Html.DevExtreme().DataGrid<PurchaseItemsModel>()
        .ColumnAutoWidth(true)
        .ShowBorders(true)
        .Columns(columns =>
        {
            columns.AddFor(m => m.ProductName).Caption("اسم المنتج");

            columns.AddFor(m => m.SizeName).Caption("المقاس");

            columns.AddFor(m => m.ColorName).Caption("اللون");

            columns.AddFor(m => m.Quantity).Caption("الكمية");

            columns.AddFor(m => m.BuyPrice).Caption("سعر الشراء للواحد");
        })
        .DataSource(d => d.Mvc() 
        .Controller("PurchaseItems")
        .LoadAction("LoadPurchaseItemsByInvoiceId")
        .Key("PurchaseItemId")
        .DeleteAction("DeletePurchaseItem")
        .LoadParams(new { purchaseInvoiceId = new JS("data.PurchaseInvoiceId") }))
        .Editing(e => e
            .Mode(GridEditMode.Popup)
            .AllowDeleting(true)
        )
        .RtlEnabled(true)
        )
            </text>);
    })
    .HeaderFilter(f => f.Visible(true))
    .Summary(summary => summary
        .TotalItems(items =>
        {
            items.Add()
                .Column("رقم الفاتورة")
                .SummaryType(SummaryType.Count)
                .DisplayFormat("عدد الفواتير : {0}");

            items.Add()
            .Column("اجمالي مبلغ الفاتورة")
            .SummaryType(SummaryType.Sum)
            .DisplayFormat("اجمالي الفواتير : {0}");

            items.Add()
            .Column("اجمالي المدفوع من الفاتورة")
            .SummaryType(SummaryType.Sum)
            .DisplayFormat("اجمالي المدفوع : {0}");   
            
            items.Add()
           .Column("الباقي من مبلغ الفاتورة")
           .SummaryType(SummaryType.Sum)
           .DisplayFormat("اجمالي المتبقي : {0}");
        })
    )
)

<script>
    function exporting(e) {
        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet('PurchaseInvoices');

        DevExpress.excelExporter.exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            autoFilterEnabled: true
        }).then(function () {
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'PurchaseInvoices.xlsx');
            });
        });
    }

    function onToolbarPreparing(e) {
        var toolbarItems = e.toolbarOptions.items;
        var customButton = {
            widget: 'dxButton',
            options: {
                icon: 'fas fa-plus',
                text: 'اضافة فاتوره جديد',
                onClick: function () {
                    window.location.href = '@Url.Action("PurchaseInvoicesPage", "PurchaseInvoices")';
                }
            },
            location: 'after',
            name: 'customButton'
        };
        toolbarItems.push(customButton);
    } 
</script>
