@{
    ViewData["Title"] = "المنتجات";
    Layout = "_DevExtremeLayout";
}

<h1>بيانات المنتجات</h1>
<div>
    <button class="btn btn-primary mx-1" onclick="showProductDetailsPopup()"> اضافة كميات للفروع </button>
    <button class="btn btn-primary mx-1" onclick="showMoveInventoryPopup()"> نقل كميات للفروع</button>
</div>


@(Html.DevExtreme().DataGrid<ProductsModel>()
    .ID("gridContainer")
    .DataSource(d => d.Mvc().Controller("Products").LoadAction("LoadProducts").InsertAction("AddNewProduct").UpdateAction("UpdateProduct").DeleteAction("DeleteProduct").Key("ProductId"))
    .OnToolbarPreparing("onToolbarPreparing")
    .Selection(s => s.Mode(SelectionMode.Multiple))
    .Export(e => e.Enabled(true).AllowExportSelectedData(true))
    .OnExporting("exporting")
    .ColumnAutoWidth(true)
    .AllowColumnResizing(true)
    .Editing(e => e.Mode(GridEditMode.Popup).AllowAdding(true).AllowUpdating(true).AllowDeleting(true).Popup(p => p.Title("بيانات المنتج الاساسية").ShowTitle(true).Width(800).Height(705)))
    .RtlEnabled(true)
    .Paging(p => p.PageSize(10))
    .Pager(p => p.ShowPageSizeSelector(true).AllowedPageSizes(new[] { 10, 25, 50, 100 }))
    .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(true))
    .GroupPanel(g => g.Visible(false))
    .RowAlternationEnabled(true)
    .Width("100%")
    .ShowBorders(true)
    .Columns(columns =>
    {
        columns.AddFor(m => m.ProductId).Caption("كود المنتج");
        columns.AddFor(m => m.ProductName).Caption("اسم المنتج");
        columns.AddFor(m => m.BuyPrice).Caption("سعر شراء المنتج");
        columns.AddFor(m => m.SellPrice).Caption("سعر بيع المنتج");
        columns.AddFor(m => m.TotalQuantity).Caption("الكمية المتوفرة").AllowEditing(false);
        columns.AddFor(m => m.MinQuantity).Caption("أقل عدد");
        columns.AddFor(m => m.MaxDiscount).Caption("اقصي قيمة خصم");
        columns.AddFor(m => m.Notes).Caption("ملاحظات");
        columns.AddFor(m => m.CategoryId).Caption("التصنيف").Lookup(lookup => lookup.DataSource(d => d.Mvc().Controller("Categories").LoadAction("LoadCategories")).ValueExpr("CategoryId").DisplayExpr("CategoryName"));
        columns.AddFor(m => m.ProductTypeId).Caption("النوع").Lookup(lookup => lookup.DataSource(d => d.Mvc().Controller("ProductTypes").LoadAction("LoadProductTypes")).ValueExpr("ProductTypeId").DisplayExpr("ProductTypeName"));
       @* columns.AddFor(m => m.ProductPhoto).Caption("صورة المنتج").EditCellTemplate(@<text>
            @(Html.DevExtreme().FileUploader().ID("fileUploader").SelectButtonText("اختر صورة المنتج").Accept("image/*"))
            </text>);*@
    })
    .ColumnFixing(columnFixing => { columnFixing.Enabled(true); })
    .HeaderFilter(f => f.Visible(true))
)

<div id="productDetailsPopup" style="display:none;">
    <div class="row">
        <div class="form-group mb-3">
            <label for="ProductId">اسم المنتج</label>
            <select id="ProductId" class="form-control" required></select>
        </div>
        <div class="form-group mb-3">
            <label for="SizeId">المقاس</label>
            <select id="SizeId" class="form-control" required></select>
        </div>
        <div class="form-group mb-3">
            <label for="ColorId">اللون</label>
            <select id="ColorId" class="form-control" required></select>
        </div>
        <div class="form-group mb-3">
            <label for="BranchId">اسم الفرع</label>
            <select id="BranchId" class="form-control" required></select>
        </div>
        <div class="form-group mb-3">
            <label for="Quantity">الكمية</label>
            <input type="number" id="Quantity" class="form-control" min="0" required />
        </div>
        <div class="form-group mb-3">
            <label for="Notes">ملاحظات</label>
            <input type="text" id="Notes" class="form-control" required />
        </div>
        <div class="form-group mb-3">
            <button type="button" class="btn btn-primary mx-3" onclick="addItemToGrid()">إضافة</button>
        </div>
        <div>
            <div id="invoiceItemsGrid" class="my-3"></div>
        </div>
    </div>

    <div class="mb-3" id="alertPlaceholder"></div>

    <div class="my-3">
        <button type="button" class="btn btn-secondary mx-3" onclick="closePopup()">إغلاق</button>
        <button type="button" class="btn btn-success" onclick="saveInvoice()">حفظ</button>
    </div>

</div>

<div id="moveInventoryPopup" style="display:none;">
    <div>
        <form id="moveInventoryForm">
            <div class="form-group">
                <label for="ProductId">المنتج:</label>
                <select id="productId" class="form-control" onchange="productChanged()"></select>
            </div>
            <div class="form-group">
                <label for="SizeId">المقاس:</label>
                <select id="sizeId" class="form-control"></select>
            </div>
            <div class="form-group">
                <label for="ColorId">اللون:</label>
                <select id="colorId" class="form-control"></select>
            </div>
            <div class="form-group">
                <label for="FromBranchId">من فرع:</label>
                <select id="fromBranch" class="form-control"></select>
                <div id="availableQtyDisplay" class="text-primary mt-2"></div>
            </div>
            <div class="form-group">
                <label for="ToBranchId">إلى فرع:</label>
                <select id="toBranch" class="form-control"></select>
                <div id="availableQtyDisplay2" class="text-primary mt-2"></div>
            </div>
            <div class="form-group">
                <label for="Quantity">الكمية:</label>
                <input type="number" id="quantity" class="form-control" min="1" required>
            </div>
            <div class="form-group mb-3">
                <label for="Notes">ملاحظات</label>
                <input type="text" id="notes" class="form-control" required />
            </div>
            <div class="my-3">
                <button type="button" class="btn btn-secondary mx-3" onclick="closePopup2()">إغلاق</button>
                <button type="button" class="btn btn-success" onclick="moveInventory()">تأكيد النقل</button>
            </div>
        </form>
    </div>
</div>

<script>
    window.closePopup2 = function () {
        $("#moveInventoryPopup").dxPopup("hide");
    };

    $(document).ready(function () {
        // Shared event handler for product, size, color changes
        $('#productId, #sizeId, #colorId').change(function () {
            // Fetch for both branches if they are selected
            var productId = $('#productId').val();
            var sizeId = $('#sizeId').val();
            var colorId = $('#colorId').val();
            var fromBranchId = $('#fromBranch').val();
            var toBranchId = $('#toBranch').val();

            // Fetch available quantity for the fromBranch if all necessary selections are made
            if (productId && sizeId && colorId && fromBranchId) {
                fetchAvailableQuantity(productId, sizeId, colorId, fromBranchId, '#availableQtyDisplay');
            } else {
                $('#availableQtyDisplay').text(`الكمية المتاحة: 0`);
            }

            // Fetch available quantity for the toBranch if all necessary selections are made
            if (productId && sizeId && colorId && toBranchId) {
                fetchAvailableQuantity(productId, sizeId, colorId, toBranchId, '#availableQtyDisplay2');
            } else {
                $('#availableQtyDisplay2').text(`الكمية المتاحة: 0`);
            }
        });

        // Change event for fromBranch and toBranch to update their available quantity display
        $('#fromBranch, #toBranch').change(function () {
            // Trigger the change event for the product to re-fetch for both branches
            $('#productId').change();
        });
    });

    // Updated function to fetch available quantity and specify the display element
    async function fetchAvailableQuantity(productId, sizeId, colorId, branchId, displayElement) {
        try {
            const response = await fetch(`/Products/GetAvailable?productId=${productId}&sizeId=${sizeId}&colorId=${colorId}&branchId=${branchId}`);
            const data = await response.json();
            $(displayElement).text(`الكمية المتاحة: ${data}`);
        } catch (error) {
            console.error('Error fetching available quantity:', error);
            $(displayElement).text(`الكمية المتاحة: 0`);
        }
    }

    async function populateDropdown(url, elementId, valueField, textField, prevSelectedValue) {
        const response = await fetch(url);
        if (response.ok) {
            const data = await response.json();
            const selectElement = $(`#${elementId}`);
            selectElement.empty();
            data.forEach(item => {
                const option = new Option(item[textField], item[valueField]);
                selectElement.append(option);
            });

            // If previous value still exists, reselect it
            if (prevSelectedValue && selectElement.find(`option[value="${prevSelectedValue}"]`).length > 0) {
                selectElement.val(prevSelectedValue).trigger('change');
            } else {
                selectElement.val(null).trigger('change'); // Reset or set to a placeholder if no previous value
            }

            // Reinitialize select2 if used
            selectElement.select2({
                placeholder: "برجاء الاختيار",
                allowClear: true,
                width: '100%'
            });
        } else {
            console.error('Failed to load data for:', elementId);
        }
    }


    $(function () {
        $("#moveInventoryPopup").dxPopup({
            title: "نقل المخزون",
            visible: false,
            width: 600,
            height: 500,
        });
        populateDropdown('/Branches/LoadBranches', 'fromBranch', 'BranchId', 'BranchName');
        populateDropdown('/Branches/LoadBranches', 'toBranch', 'BranchId', 'BranchName');
        populateDropdown('/Products/LoadProducts', 'productId', 'ProductId', 'ProductName');
    });

    function showMoveInventoryPopup() {
        $("#moveInventoryPopup").dxPopup("show");
        populateDropdown('/Branches/LoadBranches', 'fromBranch', 'BranchId', 'BranchName');
        populateDropdown('/Branches/LoadBranches', 'toBranch', 'BranchId', 'BranchName');
        populateDropdown('/Products/LoadProducts', 'productId', 'ProductId', 'ProductName');

        setTimeout(() => {
            var productId = $('#productId').val();
            productChanged()
            var sizeId = $('#sizeId').val();
            var colorId = $('#colorId').val();
            var fromBranchId = $('#fromBranch').val();
            var toBranchId = $('#toBranch').val();
            if (productId && sizeId && colorId && fromBranchId) {
                fetchAvailableQuantity(productId, sizeId, colorId, fromBranchId, '#availableQtyDisplay');
            }
            if (productId && sizeId && colorId && toBranchId) {
                fetchAvailableQuantity(productId, sizeId, colorId, toBranchId, '#availableQtyDisplay2');
            }
        }, 100);
    }

    function productChanged() {
        var productId = $('#productId').val();
        var prevSizeId = $('#sizeId').val();
        var prevColorId = $('#colorId').val();

        populateDropdown(`/Products/GetAvailableSizes?ProductId=${productId}`, 'sizeId', 'SizeId', 'SizeName', prevSizeId);
        populateDropdown(`/Products/GetAvailableColors?ProductId=${productId}`, 'colorId', 'ColorId', 'ColorName', prevColorId);
    }


    async function moveInventory() {
        var fromBranchId = $('#fromBranch').val();
        var toBranchId = $('#toBranch').val();
        var productId = $('#productId').val();
        var sizeId = $('#sizeId').val();
        var colorId = $('#colorId').val();
        var quantity = $('#quantity').val();
        var notes = $('#notes').val();

        // Ensure all required fields have values
        if (!fromBranchId || !toBranchId || !productId || !sizeId || !colorId || !quantity || !notes) {
            alert('برجاء ملاء جميع الحقول الضرورية.');
            return;
        }

        // Check if quantity is greater than 0
        if (parseInt(quantity, 10) <= 0) {
            alert('الكمية يجب أن تكون أكثر من 0.');
            return;
        }

        // Check if fromBranch and toBranch are the same
        if (fromBranchId === toBranchId) {
            alert('فرع المنشأ وفرع الوجهة يجب أن يكونا مختلفين.');
            return;
        }

        // Directly fetch and check available quantity before proceeding
        try {
            const response = await fetch(`/Products/GetAvailable?productId=${productId}&sizeId=${sizeId}&colorId=${colorId}&branchId=${fromBranchId}`);
            const availableQtyFromBranch = await response.json();

            if (availableQtyFromBranch < quantity) {
                alert('الكمية المتاحة في فرع المنشأ غير كافية لإتمام عملية النقل.');
                return;
            }

            var formData = new FormData();
            formData.append('fromBranchId', fromBranchId);
            formData.append('toBranchId', toBranchId);
            formData.append('productId', productId);
            formData.append('sizeId', sizeId);
            formData.append('colorId', colorId);
            formData.append('quantity', quantity);
            formData.append('notes', notes);
            submitTransfer(formData);
        } catch (error) {
            console.error('Error fetching available quantity:', error);
            alert('حدث خطأ أثناء تحقق من الكمية المتاحة.');
        }
    }
    async function submitTransfer(formData) {
        const response = await fetch('/InventoryMovement/AddNewinventoryMovement', {
            method: 'POST',
            body: formData
        });

        const responseData = await response.json();

        if (responseData.success) {
            alert("تم نقل الكمية بنجاح.");
            $("#moveInventoryPopup").dxPopup("hide");
        } else {
            alert(responseData.message || "حدث خطأ أثناء نقل الكمية.");
        }
    }


    //////////
    var invoiceItems = []; 

    $(document).ready(function () {
        initializeItemsGrid();
         $('#ProductId, #SizeId, #ColorId, #fromBranch').change(function () {
                // Get the current selected values
                var productId = $('#ProductId').val();
                var sizeId = $('#SizeId').val();
                var colorId = $('#ColorId').val();
                var branchId = $('#fromBranch').val();

                if (productId && sizeId && colorId && branchId) {
                    fetchAvailableQuantity(productId, sizeId, colorId, branchId);
                } else {
                    $('#availableQtyDisplay').text('');
                }
          });
    });

    function displayMessage(type, message) {
        console.log('Displaying message:', type, message); // Add this line for debugging
        const messageContainer = document.createElement("div");
        messageContainer.className = `alert alert-${type === 'success' ? 'success' : 'danger'}`;
        messageContainer.role = "alert";
        messageContainer.innerHTML = `
                ${message}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            `;

        const alertPlaceholder = document.getElementById("alertPlaceholder");
        alertPlaceholder.innerHTML = '';
        alertPlaceholder.appendChild(messageContainer);
    }


    function initializeItemsGrid() {
        $("#invoiceItemsGrid").dxDataGrid({
            dataSource: invoiceItems,
            columns: [
                { dataField: "ProductId", caption: "اسم المنتج" },
                { dataField: "SizeId", caption: "المقاس" },
                { dataField: "ColorId", caption: "اللون" },
                { dataField: "Quantity", caption: "الكمية" },
                { dataField: "BranchId", caption: "الفرع" }
            ],
        });
    }

    // Function to validate item fields
    function validateItem(item) {
        return item.ProductId && item.SizeId && item.ColorId && item.BranchId && !isNaN(item.Quantity) && item.Quantity > 0;
    }

    // Function to clear form fields after adding an item
    function clearFormFields() {
        $('#ProductId').val('').trigger('change');
        $('#SizeId').val('').trigger('change');
        $('#ColorId').val('').trigger('change');
        $('#BranchId').val('').trigger('change');
        $('#Quantity').val('');
        $('#Notes').val('');
    }

    $(function () {
        // Initialize product details popup
        var productDetailsPopup = $("#productDetailsPopup").dxPopup({
            title: "إدخال إلى المخزن",
            visible: false,
            width: 800,
            height: 500,
            onShown: function () {
                initSelectBoxes();
            }
        }).dxPopup("instance");

        // Array to hold invoice items
        var invoiceItems = [];

        // Initialize the grid inside the popup
        $("#invoiceItemsGrid").dxDataGrid({
            dataSource: invoiceItems,
            columns: [
                { dataField: "ProductId", caption: "اسم المنتج" },
                { dataField: "SizeId", caption: "المقاس" },
                { dataField: "ColorId", caption: "اللون" },
                { dataField: "Quantity", caption: "الكمية" },
                { dataField: "BranchId", caption: "الفرع" },
                { dataField: "Notes", caption: "ملاحظات" }
            ],
            editing: {
                allowDeleting: true,
                texts: {
                    confirmDeleteMessage: 'هل أنت متأكد من أنك تريد حذف هذا العنصر؟'
                }
            },
            showBorders: true,
            rtlEnabled: true
        });

        // Function to open the popup
        window.showProductDetailsPopup = function () {
            productDetailsPopup.show();
        };

        window.addItemToGrid = function () {
            // Collect item details from form fields
            var item = {
                ProductId: $('#ProductId').val(),
                SizeId: $('#SizeId').val(),
                ColorId: $('#ColorId').val(),
                BranchId: $('#BranchId').val(), 
                Quantity: parseInt($('#Quantity').val(), 10),
                Notes: $('#Notes').val()
            };

            var isValid = validateItem(item);

            if (isValid) {
                invoiceItems.push(item);
                $("#invoiceItemsGrid").dxDataGrid("instance").option('dataSource', invoiceItems);
                clearFormFields();
            } else {
                alert('برجاء ملاء جميع الحقول');
            }
        };

        // Function to close the popup
        window.closePopup = function () {
            $("#productDetailsPopup").dxPopup("instance").hide(); 
            invoiceItems = []; 
            $("#invoiceItemsGrid").dxDataGrid("instance").option('dataSource', invoiceItems);
        };

        // Populate dropdowns
        async function initSelectBoxes() {
            populateDropdown('/Products/LoadProducts', 'ProductId', 'ProductId', 'ProductName');
            populateDropdown('/Sizes/LoadSizes', 'SizeId', 'SizeId', 'SizeName');
            populateDropdown('/Colors/LoadColors', 'ColorId', 'ColorId', 'ColorName');
            populateDropdown('/Branches/LoadBranches', 'BranchId', 'BranchId', 'BranchName');
        }

        // Generic function to populate a dropdown from an endpoint
        async function populateDropdown(url, elementId, valueField, textField) {
            const response = await fetch(url);
            if (response.ok) {
                const data = await response.json();
                const selectElement = $(`#${elementId}`);
                selectElement.empty().append(data.map(item => new Option(item[textField], item[valueField])));
                selectElement.select2({
                    placeholder: "برجاء الاختيار",
                    allowClear: true,
                    width: '100%'
                });
            } else {
                console.error('Failed to load data for:', elementId);
            }
        }

        window.saveInvoice = async function () {
            if (invoiceItems.length === 0) {
                displayMessage('error', "يرجى إضافة منتج واحد على الأقل قبل الحفظ.");
                return;
            }

            for (let item of invoiceItems) {
                let formData = new FormData();
                formData.append("values", JSON.stringify(item));

                try {
                    const response = await fetch('/PurchaseItems/AddNewPurchaseItem', {
                        method: 'POST',
                        body: formData,
                    });

                    const result = await response.json();

                    if (!result.success) {
                        displayMessage('error', result.message);
                        return; 
                    }
                    
                    displayMessage('success', result.message);

                } catch (error) {
                    console.error('Could not save the invoice item:', error);
                    displayMessage('error', "حدث خطأ أثناء الحفظ، يرجى المحاولة مرة أخرى.");
                    return; 
                }
            }

            invoiceItems = []; 
            $("#invoiceItemsGrid").dxDataGrid("instance").option('dataSource', invoiceItems);
        };
    });

    function exporting(e) {
        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet('Products');
        DevExpress.excelExporter.exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            autoFilterEnabled: true
        }).then(function () {
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'Products.xlsx');
            });
        });
    }

    function onToolbarPreparing(e) {
        var toolbarItems = e.toolbarOptions.items;
        var customButton = {
            widget: 'dxButton',
            options: {
                icon: 'fas fa-plus',
                text: 'اضافة تصنيف جديد',
                onClick: function () {
                    window.location.href = '@Url.Action("CategoriesPage", "Categories")';
                }
            },
            location: 'after',
            name: 'customButton'
        };
        toolbarItems.push(customButton);
    }

</script>

<style>
    .select2-container--open {
        z-index: 9999999 !important;
    }
</style>
