@model ColorsModel

@{
    ViewData["Title"] = "الالوان";
    Layout = "_DevExtremeLayout";
}

<h1>الالـــوان</h1>

@(Html.DevExtreme().DataGrid<ColorsModel>()
    .ID("gridContainer")
    .DataSource(d => d
        .Mvc()
        .Controller("Colors")
        .LoadAction("LoadColors")
        .InsertAction("AddNewColor")
        .UpdateAction("UpdateColor")
        .DeleteAction("DeleteColor")
        .Key("ColorId")
    ).Selection(s => s.Mode(SelectionMode.Multiple))
     .Export(e => e.Enabled(true).AllowExportSelectedData(true))
     .OnExporting("exporting")
     .AllowColumnResizing(true)
          .ColumnAutoWidth(true)
    .Editing(e => e
        .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .Popup(p => p
                .Width(700)
                .Height(200))
    )
    .RtlEnabled(true)
    .Paging(p => p.PageSize(10))
    .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 10, 25, 50, 100 })
    )
    .SearchPanel(s => s
        .Visible(true)
        .HighlightCaseSensitive(true)
    )
    .GroupPanel(g => g.Visible(false))
    .RowAlternationEnabled(true)
    .Width("100%")
    .ShowBorders(true)
    .Columns(columns =>
    {
        columns.AddFor(m => m.ColorName).Caption("اسم اللون");
    })
    .ColumnFixing(columnFixing => { columnFixing.Enabled(true); })
    .HeaderFilter(f => f.Visible(true))
    .Summary(summary => summary
        .TotalItems(items =>
        {
            items.Add()
                .Column("اسم اللون")
                .SummaryType(SummaryType.Count)
                .DisplayFormat("عدد الالوان : {0}");

            // Add more summaries as needed
        })
    )
)

<script>
    function exporting(e) {
        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet('Colors');

        DevExpress.excelExporter.exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            autoFilterEnabled: true
        }).then(function () {
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'Colors.xlsx');
            });
        });
    }
</script>
