
@{
    ViewData["Title"] = "العملاء";
    Layout = "_DevExtremeLayout";
}

<div class="page-title">
    <h1>العملاء</h1>
</div>

@(Html.DevExtreme().DataGrid<CustomersModel>()
    .ID("gridContainer")
    .DataSource(d => d
        .Mvc()
        .Controller("Customers")
        .LoadAction("LoadCustomers")
        .InsertAction("AddNewCustomer")
        .UpdateAction("UpdateCustomer")
        .DeleteAction("DeleteCustomer")
        .Key("CustomerId")
    ).Selection(s => s.Mode(SelectionMode.Multiple))
     .Export(e => e.Enabled(true).AllowExportSelectedData(true))
     .OnExporting("exporting")
     .AllowColumnResizing(true)
          .ColumnAutoWidth(true)
    .Editing(e => e
        .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .Popup(p => p
                .Title("بيانات العميل")
                .ShowTitle(true)
                .Width(700)
                .Height(370))
    )
    .RtlEnabled(true)
    .Paging(p => p.PageSize(10))
    .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 10, 25, 50, 100 })
    )
    .SearchPanel(s => s
        .Visible(true)
        .HighlightCaseSensitive(true)
    )
    .GroupPanel(g => g.Visible(false))
    .RowAlternationEnabled(true)
    .Width("100%")
    .ShowBorders(true)
    .Columns(columns =>
    {
        columns.AddFor(m => m.CustomerName).Caption("اسم العميل");
        columns.AddFor(m => m.PhoneNumber).Caption("رقم هاتف العميل");
        columns.AddFor(m => m.Address).Caption("عنوان العميل");
    })
    .ColumnFixing(columnFixing => { columnFixing.Enabled(true); })
    .HeaderFilter(f => f.Visible(true))
    .Summary(summary => summary
        .TotalItems(items =>
        {
            items.Add()
                .Column("اسم العميل")
                .SummaryType(SummaryType.Count)
                .DisplayFormat("عدد العملاء : {0}");

            // Add more summaries as needed
        })
    )
)

<script>
    function exporting(e) {
        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet('Customers');

        DevExpress.excelExporter.exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            autoFilterEnabled: true
        }).then(function () {
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'Customers.xlsx');
            });
        });
    }
</script>
